<!DOCTYPE html>
<html>


<head>
<meta charset="ISO-8859-1">
<title>My Angular App DVJ</title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>

</head>


<body ng-app>
 <div> {{ 4 + 3}} </div>
 
</body>
</html>